#root {
  background: #fff;
}
.waper {
  padding: 0 10px;
}
.home-header-right img {
  width: 0.4rem;
  height: 0.38rem;
}
.banner img {
  width: 7.49rem;
  height: 3.02rem;
}
.ButtomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-top: 6.5px;
  background: #fff;
  box-shadow: 0px 0px 0px 1px #e1e1e1;
}
.ButtomNav li {
  float: left;
  text-align: center;
  width: 25%;
}
.ButtomNav li i {
  display: block;
  font-size: 20px;
}
.ButtomNav li span {
  font-size: 12px;
}
.home-header {
  background-color: #ff5555;
  padding: 10px;
}
.home-header * {
  color: #fff;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
}
.home-header input {
  color: #000000;
}
.home-header .home-header-left {
  width: 50px;
  text-align: left;
  margin: 5px 0;
}
.home-header .home-header-middle {
  width: auto;
  margin: 0 20px 0 30px;
}
.home-header .home-header-middle .search-container {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
}
.home-header .home-header-middle .search-container i {
  color: #ccc !important;
}
.home-header .home-header-middle .search-container input {
  font-size: 14px !important;
  font-weight: normal;
  border: none;
}
.home-header .home-header-right {
  width: 15px;
  margin: 5px 0;
  text-align: right;
}
.home-header .home-header-right i {
  font-size: 18px !important;
}
.shouye_swiper {
  position: relative;
}
.shouye_swiper img {
  width: 7.49rem;
  height: 3.26rem;
}
.dots {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 40%;
}
.dots .select {
  background: red;
}
.dots li {
  width: 7px;
  height: 7px;
  margin: 0 3px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
}
.links {
  margin-top: 12px;
}
.links a {
  color: #fff;
  font-size: 15px;
}
.links .btns {
  width: 3.45rem;
  height: 1.31rem;
  border-radius: 3px;
  background: #ff5555;
  display: inline-block;
  text-align: center;
  line-height: 1.31rem;
}
.links .btns:first-child {
  margin-right: 4px;
}
.hothots {
  font-size: 13px;
  margin-bottom: 50px;
}
.hothots .hous_list {
  position: relative;
}
.hothots h4 {
  display: inline-block;
  margin-top: 14.5px;
  margin-bottom: 6px;
}
.hothots img {
  width: 100%;
  height: 3.45rem;
}
.hothots .mask {
  width: 100%;
  height: 50px;
  padding-top: 9px;
  position: absolute;
  bottom: 1%;
  font-size: 12px;
  background: rgba(226, 222, 222, 0.76);
}
.hothots .mask div {
  display: inline-block;
  margin-left: 60px;
}
.hothots .mask .btn {
  width: 1.13rem;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
}
.location .header {
  width: 100%;
  height: 1.28rem;
  background: #ff5555;
}
.location h3 {
  margin: 15px 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}
.location span {
  margin: 8px 24px;
  width: 1.38rem;
  height: 0.5rem;
  background: #e9e9e9;
  border-radius: 5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  text-align: center;
  line-height: 0.5rem;
}
.location span:hover {
  cursor: pointer;
}
.actives {
  color: red;
}
.Shiyou .header {
  height: 1.28rem;
}
.Shiyou .home-header-left {
  float: left;
}
.Shiyou .header-right {
  float: right;
}
.Shiyou .header-cendter {
  overflow: hidden;
  text-align: center;
  margin: 12px 48px 0 0;
  width: 222px;
}
.Shiyou .bg img {
  width: 100%;
  height: 4.6rem;
}
.Shiyou .right_fix {
  width: 35px;
  display: inline-block;
  position: fixed;
  right: 15px;
  bottom: 35px;
}
.Shiyou .right_fix img {
  width: 0.68rem;
  height: 0.69rem;
}
.Shiyou .info {
  width: 7.1rem;
  height: 3.44rem;
  background: #fff;
  box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  margin: 10px auto;
}
.Shiyou .info .house {
  width: 3.68rem;
  height: 2.08rem;
}
.Shiyou .info .bottom .head {
  width: 0.44rem;
  height: 0.44rem;
  margin: 4px 3px 0px 0;
}
.Shiyou .info .bottom .sex {
  width: 0.18rem;
  height: 0.27rem;
  margin-left: 5px;
  background: #ffffff;
}
.Shiyou .info .bottom .time {
  float: right;
  margin: 11px 0 0 0;
  color: red;
}
.Shiyou .info .btn {
  margin: 4px 10px 8px 0;
  width: 50px;
  height: 20.15px;
  display: inline-block;
  border: 2px solid #ccc;
  text-align: center;
  line-height: 17.15px;
  border-radius: 5px;
  font-size: 13px;
  opacity: 0.5;
}
.Shiyou .info .title {
  font-size: 13px;
  opacity: 0.8;
}
.Shiyou .search-container {
  text-align: center;
}
.Shequ .top_list li {
  display: inline-block;
  font-size: 18px;
  color: #000000;
  margin: 15px 12px;
}
.Shequ .item {
  height: 4.21rem;
  background: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 4% 0;
}
.Shequ .item .mc img {
  width: 0.41rem;
  height: 0.6rem;
  opacity: 0.8;
  margin: 8% 43%;
}
.Shequ .item .taolun img {
  width: 1.33rem;
  height: 0.46rem;
}
.Shequ .item .title {
  width: 5.4rem;
  height: 0.9rem;
  font-size: 0.26rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #000000;
  line-height: 0.32rem;
  opacity: 0.8;
  margin-top: -4%;
  margin-left: 15%;
}
.Shequ .item .taolun {
  margin-left: 23%;
  margin-top: 9%;
}
.Shequ .plus {
  position: fixed;
  right: 7%;
  bottom: 6%;
}
.Shequ .plus img {
  width: 0.68rem;
  height: 0.69rem;
}
.Xiangqing .home-header-right img {
  width: 0.32rem;
  height: 0.08rem;
}
.Xiangqing .banner img {
  width: 100%;
  height: 6.19rem;
}
.Xiangqing .info {
  width: 7.1rem;
  height: 1rem;
  background: #ffffff;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0rem;
  margin: 13px 0;
}
.Xiangqing .info div {
  float: left;
  margin: 4px 37px;
  font-size: 16px;
}
.Xiangqing .info div p {
  color: red;
}
.Xiangqing .houseInfo div {
  float: left;
  width: 177px;
}
.Xiangqing .bottom {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: row;
}
.Xiangqing .bottom .icons {
  width: 2.39rem;
  height: .8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Xiangqing .bottom .icons img {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 10px;
}
.Xiangqing .bottom .btn {
  display: inline-block;
  width: 2.39rem;
  height: .8rem;
  background: #ff3232;
  color: #fff;
  text-align: center;
  line-height: .8rem;
  position: relative;
  float: right;
  bottom: 0;
}
.Xiangqing .bottom .btn:last-child {
  background: #ff7f32;
}
.Xiangqing .bottom .btn:hover {
  cursor: pointer;
}
.Life .home-header-left img {
  width: 0.32rem;
  height: 0.38rem;
  border-radius: 50%;
}
.Life .search-container {
  text-align: center;
}
.Life .bg img {
  width: 7.5rem;
  height: 3.62rem;
}
.Life .jiaofei h1 {
  width: 1.36rem;
  height: 0.32rem;
  font-size: 0.34rem;
  font-family: PingFang-SC-Medium;
  font-weight: bold;
  color: #000000;
  opacity: 0.8;
  margin: 3% 0;
}
.Life .jiaofei ul.list {
  width: 7.1rem;
  height: 1.57rem;
  margin: 5% 0;
  background: #ffffff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
.Life .jiaofei ul.list li {
  display: inline-block;
  margin: 4% 8%;
}
.Life .jiaofei ul.list li img {
  height: 0.6rem;
  display: block;
}
.Life .jiaofei ul.imgs {
  position: relative;
}
.Life .jiaofei ul.imgs li {
  display: inline-block;
  margin: 0 1px;
}
.Life .jiaofei ul.imgs li img {
  width: 2.27rem;
  height: 1.52rem;
}
.Life .jiaofei ul.imgs li span {
  width: 0.6rem;
  height: 0.29rem;
  font-size: 0.3rem;
  font-family: PingFang-SC-Medium;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  top: 36%;
}
.Life .hot h1 {
  font-size: 0.34rem;
  font-family: PingFang-SC-Regular;
  font-weight: bold;
  color: #000000;
  opacity: 0.8;
  display: inline-block;
  margin: 0 15px 0 0;
}
.Life .hot ul.imgs {
  position: relative;
}
.Life .hot ul.imgs li {
  display: inline-block;
  margin: 1px 1px;
}
.Life .hot ul.imgs li img {
  width: 3.43rem;
  height: 1.3rem;
}
.Life .hot ul.imgs li span {
  font-size: 0.3rem;
  font-family: PingFang-SC-Medium;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
}
.Market .btn .left,
.Market .btn .right {
  width: 2.5rem;
  height: 0.8rem;
  background: red;
  border-radius: 27px;
  color: #fff;
  text-align: center;
  line-height: 0.8rem;
  display: inline-block;
  margin: 4% 8%;
}
.Market .item h3 {
  font-size: 0.26rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #010101;
  opacity: 0.8;
  text-align: center;
}
.Market .item .lists {
  width: 7.1rem;
  height: 2.62rem;
  background: #ffffff;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 3%;
  margin-bottom: 3%;
}
.Market .item .lists li {
  margin: 6% 2.99%;
  display: inline-block;
}
.Market .item .lists li img {
  width: 1.35rem;
  height: 1.35rem;
}
.Market .item .lists li p {
  background: #ffffff;
  box-shadow: 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0.1);
  border-radius: 0rem;
  text-align: center;
}
.Mine .head {
  width: 7.5rem;
  height: 2.36rem;
  background: #ff5555;
  border-top: 1px solid #f55;
}
.Mine .head img {
  width: 1.44rem;
  height: 1.44rem;
  margin-left: 39%;
}
.Mine .container h3 {
  width: 1.2rem;
  height: 0.29rem;
  font-size: 0.3rem;
  font-family: PingFang-SC-Medium;
  font-weight: bold;
  color: #000000;
  line-height: 0.2rem;
  opacity: 0.8;
  display: inline-block;
  margin-right: 10px;
}
.Mine .container small {
  width: 1.1rem;
  height: 0.18rem;
  font-size: 0.18rem;
  font-family: PingFang-SC-Medium;
  font-weight: bold;
  color: #000000;
  line-height: 0.2rem;
  opacity: 0.8;
}
.Mine .container .item {
  width: 7.1rem;
  height: 3.79rem;
  background: #fff;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 4% 0;
}
.Mine .container .item li {
  margin: 4% 5%;
  display: inline-block;
}
.Mine .container .item li:nth-child(4) {
  margin: 4% 10%;
}
.Mine .container .item li p {
  text-align: center;
  margin-top: 10px;
  font-size: 0.3rem;
  font-family: PingFang-SC-Medium;
  font-weight: bold;
  color: #000000;
  line-height: 0.2rem;
  opacity: 0.8;
}
.Mine .container .item li img {
  width: 0.88rem;
  height: 0.88rem;
}
.Mine .container:last-child li {
  margin: 3% 9%;
}
.hot_search h3 {
  width: 1.21rem;
  height: 0.29rem;
  font-size: 0.3rem;
  font-family: PingFang-SC-Regular;
  font-weight: bold;
  color: #000000;
  line-height: 0.2rem;
  opacity: 0.8;
}
.hot_search ul li {
  width: 1.38rem;
  height: 0.47rem;
  display: inline-block;
  margin: 1% 6%;
  background: #e2e2e2;
  text-align: center;
  line-height: 0.47rem;
  border-radius: 5px;
}
.hot_search button {
  width: 6.7rem;
  height: 0.8rem;
  background: #fff;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.msg .home-header .home-header-middle .search-container {
  background: #f55;
  text-align: center;
  font-size: 0.36rem;
  font-family: PingFang-SC-Regular;
  font-weight: bold;
  color: #ffffff;
  margin-right: 18%;
}
.msg .too_nav {
  width: 7.5rem;
  height: 0.8rem;
  background: #ffffff;
  box-shadow: 0rem 0rem 9px 5px rgba(0, 0, 0, 0.1);
}
.msg .too_nav li {
  height: 0.29rem;
  font-size: 0.3rem;
  font-family: PingFang-SC-Medium;
  font-weight: bold;
  color: #000000;
  line-height: 0.8rem;
  opacity: 0.8;
  display: inline-block;
  margin: 0% 11%;
}
.msg .item {
  width: 5.5rem;
  height: 2.91rem;
  background: #ffffff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 5% auto;
}
.msg .item img {
  width: 0.6rem;
  height: 0.6rem;
  margin: 4% 3%;
  float: left;
}
.msg .item h1 {
  font-size: 0.24rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #000000;
  opacity: 0.8;
  padding-top: 2%;
}
.msg .item p {
  margin-bottom: 2%;
}
.msg .item .content {
  width: 3.88rem;
  height: 0.91rem;
  font-size: 0.24rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #000000;
  line-height: 0.34rem;
  opacity: 0.8;
  overflow: hidden;
}
.Shopcar .home-header .home-header-middle .search-container {
  background: #f55;
  text-align: center;
  font-size: 0.36rem;
  font-family: PingFang-SC-Regular;
  font-weight: bold;
  color: #ffffff;
  margin-right: 18%;
}
.Shopcar .empte {
  font-size: 15px;
  text-align: center;
  line-height: 130px;
}
.Shopcar ul {
  width: 7.1rem;
  height: 1.89rem;
  background: #ffffff;
  border-radius: 0rem;
}
.Shopcar ul li {
  overflow: hidden;
  width: 7.1rem;
  height: 1.89rem;
  background: #f5f5f5;
  margin: 3% 0;
  border-radius: 4px;
}
.Shopcar ul li input[type="checkbox"] {
  float: left;
  margin: 13% 3% 0 2%;
}
.Shopcar ul li img {
  width: 1.85rem;
  height: 1.38rem;
  float: left;
  margin: 4% 4% 0 0;
}
.Shopcar ul li .conts span {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.Shopcar .buttom {
  width: 100%;
  height: 1.22rem;
  background: #f3f1f1;
  position: fixed;
  bottom: 0;
  left: 0;
}
.Shopcar .buttom .prise {
  width: 1.2rem;
  height: 0.25rem;
  font-size: 0.26rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #000000;
  opacity: 0.8;
  margin: 5% 20%;
}
.Shopcar .buttom span {
  position: relative;
  top: 37%;
}
.Shopcar .buttom .jiesuan {
  width: 1.99rem;
  height: 1.22rem;
  background: #ff5555;
  float: right;
}
.Shopcar .buttom .jiesuan span {
  width: 1.01rem;
  height: 0.25rem;
  font-size: 0.26rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #ffffff;
  margin: 0 31%;
  line-height: 0.25rem;
}
.shop_info {
  background: #e1e1e1;
}
.shop_info .home-header .home-header-middle .search-container {
  background: #f55;
  text-align: center;
  font-size: 0.36rem;
  font-family: PingFang-SC-Regular;
  font-weight: bold;
  color: #ffffff;
  margin-right: 18%;
}
.shop_info ul {
  width: 100%;
  height: 0.8rem;
  background: #ffffff;
}
.shop_info ul li {
  width: 1.21rem;
  height: 0.29rem;
  font-size: 0.3rem;
  font-family: PingFang-SC-Medium;
  font-weight: bold;
  display: inline-block;
  margin: 2% 8%;
}
.shop_info ul a:hover {
  color: red;
}
.shop_info .items {
  width: 3.5rem;
  margin: 5% 2px -1% 0;
  display: inline-block;
  position: relative;
}
.shop_info .items img {
  width: 3.5rem;
  height: 4.2rem;
}
.shop_info .items h3 {
  width: 3.5rem;
  height: 4.2rem;
  position: absolute;
  top: 69%;
}
.shop_info .items p {
  width: 2.59rem;
  height: 0.33rem;
  font-size: 0.15rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #000000;
  opacity: 0.5;
  position: absolute;
  bottom: 33px;
}
.shop_info .items small {
  position: absolute;
  bottom: 2%;
  left: 0px;
}
.Mark_info .home-header .home-header-middle .search-container {
  background: #f55;
  text-align: center;
  font-size: 0.36rem;
  font-family: PingFang-SC-Regular;
  font-weight: bold;
  color: #ffffff;
  margin-right: 18%;
}
.Mark_info .home-header-right img {
  width: 0.32rem;
  height: 0.08rem;
}
.Mark_info .show {
  width: 100%;
  height: 6.21rem;
}
.Mark_info h3 {
  width: 2.72rem;
  height: 0.33rem;
  font-size: 0.34rem;
  font-family: PingFang-SC-Medium;
  font-weight: bold;
  color: #000000;
  opacity: 0.8;
  margin-top: -17%;
  margin-bottom: 5%;
}
.Mark_info p {
  margin-bottom: 8%;
}
.Mark_info #previce {
  width: 1.89rem;
  height: 0.26rem;
  font-size: 0.34rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #ff5555;
}
.Mark_info #content {
  width: 7.06rem;
  height: 1.38rem;
  font-size: 0.3rem;
  font-family: PingFang-SC-Regular;
  font-weight: bold;
  color: #000000;
  opacity: 0.8;
}
.Mark_info #buy {
  width: 2.4rem;
  height: 0.8rem;
  background: #ff7f32;
}
.Mark_info #add_shop_car {
  width: 2.39rem;
  height: 0.8rem;
  background: #ff3232;
}
.Mark_info .bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #ccc;
}
